<div class="body">

    <div class="header">
        <h1>Newspage</h1>
    </div>

    <form [formGroup]="form" class="input-wrapper" (ngSubmit)="search()">

        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input type="text" style="min-width: 500px;" pInputText
                formControlName="searchTerm" />
        </span>

    </form>

    <div *ngFor="let item of newsArray" style="padding: 10px;">
        <app-card-noticia [data]="item"></app-card-noticia>

    </div>

    <div class="flex-auto">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="20"
            [totalRecords]="totalRecords"></p-paginator>
    </div>

</div>